:root {
    --text: #ffffffab;
    --background: #121212;
}
body {
    background-color: var(--background) !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
a {
    color: var(--text) !important;
}

.tracks .title{
    color: #ffffff;
}

.team .judge-name {
    color: #ffffff;
}

.team .judge-desc {
    color: black;
}

.team .judge-box {
    background-color: #f59d45;
}

#header, .about-card {
    background-color: var(--background) !important;
    /* background-color: #2c4857 !important; */
}

#home, .about, .judges, .footer {
    background-color: #F19A3E;
}

.desc[data-v-1f9561d0] {
    color: var(--text) !important;
}